<div class="content">
    <div *nzModalTitle>
        <span>{{
            (isUpdate ? "action.update" : "action.create") | translate
            }}</span>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form">
                
                <div class="col-12 mb-4">
                    <label>{{ "model.module.name" | translate }}
                        <span class="text-danger">*</span>
                    </label>
                    <input formControlName="name" nz-input class="ms-3 product-property"/>
                    <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                        <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                            <mb-not-blank [value]="'model.module.name'"></mb-not-blank>
                        </span>
                    </ng-container>
                </div>

                <div class="col-12 mb-4">
                    <label>{{ "model.module.code" | translate }}
                        <span class="text-danger">*</span>
                    </label>
                    <input formControlName="moduleCode" nz-input class="ms-3 product-property"/>
                    <ng-container *ngIf="form.get('moduleCode')?.touched || form.get('moduleCode')?.dirty">
                        <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                            <mb-not-blank [value]="'model.module.code'"></mb-not-blank>
                        </span>
                    </ng-container>
                </div>

                <div class="col-12 mb-4">
                    <label>{{ "model.module.credits" | translate }}
                        <span class="text-danger">*</span></label>
                    <nz-input-number formControlName="credits" [nzMin]="1" [nzStep]="1" [nzMax]="10" class="ms-3 product-property">
                    </nz-input-number>
                    <ng-container *ngIf="form.get('credits')?.touched || form.get('credits')?.dirty">
                        <span class="text-danger ms-2" *ngIf="form.get('credits')?.hasError('required')">
                            <mb-not-blank [value]="'model.module.credits'"></mb-not-blank>
                        </span>
                    </ng-container>
                </div>

                <div class="col-12 mb-4">
                    <label>{{ "model.module.subject" | translate }}
                        <span class="text-danger">*</span></label>
                    <nz-select formControlName="id_subject" nzShowSearch nzAllowClear="true"
                        class="ms-3 product-property">
                        <ng-container *ngFor="let type of subjects">
                            <nz-option [nzValue]="type.id"
                                [nzLabel]="type.name | translate">
                            </nz-option>
                        </ng-container>
                    </nz-select>
                    <ng-container *ngIf="form.get('id_subject')?.touched || form.get('id_subject')?.dirty">
                        <span class="text-danger" *ngIf="form.get('id_subject')?.hasError('required')">
                            <mb-not-blank [value]="'model.module.subject'"></mb-not-blank>
                        </span>
                    </ng-container>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center" *nzModalFooter>
        <button nz-button nzType="default" class="e-2" (click)="onCancel()">
            {{ "action.cancel" | translate }}
        </button>
        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="onSubmit()">
            {{ (isUpdate ? "action.save" : "action.save") | translate }}
        </button>
    </div>
</div>
